In [6]:
import pandas as pd
df_winemag = pd.read_csv("/workspaces/PythonPC1/PC5/winemag-data-130k-v2.csv")

## método shape (filas y columnas)
df_winemag.shape

## método head
# head retorna los primeros 2 resultados del dataframe
df_winemag.head(2)

##las columnas que la conforman
df_winemag.columns

# Describe (brinda un resumen de la cantidad de datos, promedio, desviación estandar, minimo, máximo, etc )
df_winemag.describe()

## RENOMBRES DE COLUMNAS
df_winemag_rename = df_winemag.rename(columns={
    'country': 'pais',
    'description': 'descripcion',
    'price': 'precio',
    'province': 'provincia'
})
df_winemag_rename.head(2)

## CREACION DE COLUMNAS
df_winemag['region_total'] = df_winemag.region_1 + df_winemag.region_2
df_winemag['puntos_miles'] = df_winemag.points * 1000
df_winemag['puntos_IGV'] = df_winemag.points * 0.18
df_winemag.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery\t\t\t\t,region_total,puntos_miles,puntos_IGV
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",VulkÃ Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin Oâ€™Keefe,@kerinokeefe,Nicosia 2013 VulkÃ Bianco (Etna),White Blend,Nicosia\t\t\t\t,NaN,87000,15.66
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos\t\t\t\t,NaN,87000,15.66

In [7]:
## REPORTES
#1
df_winemag = df_winemag.sort_values(by=['price', 'country'])
condicion  = (df_winemag.price>=2) & (df_winemag.country=="Portugal")
df_winemag[condicion].head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery\t\t\t\t,region_total,puntos_miles,puntos_IGV
2780,2780,Portugal,"This feels very ripe, perhaps overripe, with i...",Morgado da Canita,84,5.0,Alentejano,NaN,NaN,Roger Voss,@vossroger,Herdade dos Machados 2009 Morgado da Canita Re...,Portuguese Red,Herdade dos Machados\t\t\t\t,NaN,84000,15.12
3950,3950,Portugal,"On the dry side, with caramel and strawberry f...",Escolha,83,5.0,Vinho Verde,NaN,NaN,Roger Voss,@vossroger,Adega Cooperativa Ponte de Barca 2010 Escolha ...,RosÃ©,Adega Cooperativa Ponte de Barca\t\t\t\t,NaN,83000,14.94
24883,24883,Portugal,"This is a fruity, fresh, forward wine that has...",Xairel,85,5.0,Tejo,NaN,NaN,Roger Voss,@vossroger,Adega Cooperativa do Cartaxo 2012 Xairel Red (...,Portuguese Red,Adega Cooperativa do Cartaxo\t\t\t\t,NaN,85000,15.30

In [8]:
#2
df_winemag.groupby(['country']).price.agg([len, 'min', 'max', 'mean'])

                          len   min     max       mean
country
Argentina                1907   4.0   230.0  23.604663
Armenia                     1  14.0    14.0  14.000000
Australia                1177   6.0   850.0  35.786701
Austria                  1635   7.0   150.0  30.846774
Bosnia and Herzegovina      1  13.0    13.0  13.000000
Brazil                     31  10.0    45.0  23.185185
Bulgaria                   68   8.0    55.0  14.014706
Canada                    108  12.0   120.0  35.575472
Chile                    2258   5.0   400.0  21.021544
Croatia                    44  13.0    65.0  25.000000
Cyprus                      6  11.0    21.0  16.000000
Czech Republic              6  15.0    45.0  23.666667
England                    36  25.0    80.0  51.636364
France                  11174   5.0  2500.0  41.577949
Georgia                    37   9.0    40.0  18.270270
Germany                  1051   5.0   775.0  40.592233
Greece                    242   8.0    79.0  21.845188
Hungary                    61  10.0   764.0  50.819672
India                       4  10.0    20.0  13.500000
Israel                    259   8.0   100.0  31.508065
Italy                   10005   5.0   595.0  39.739836
Lebanon                    20  13.0    75.0  30.400000
Luxembourg                  4  16.0    30.0  23.000000
Macedonia                   6  15.0    20.0  15.833333
Mexico                     31   8.0    58.0  26.677419
Moldova                    30   8.0    42.0  17.900000
Morocco                    11  14.0    40.0  21.090909
New Zealand               733   8.0   120.0  26.662906
Peru                        8  10.0    68.0  20.500000
Portugal                 2963   5.0  1000.0  25.647360
Romania                    67   7.0   100.0  13.731343
Serbia                      7  15.0    40.0  25.000000
Slovakia                    1  16.0    16.0  16.000000
Slovenia                   39   7.0    60.0  24.000000
South Africa              737   8.0   330.0  24.293478
Spain                    3409   4.0   770.0  27.875925
Switzerland                 4  30.0   160.0  97.000000
Turkey                     43  15.0   120.0  25.767442
US                      27177   4.0   750.0  36.344889
Ukraine                     5   6.0    10.0   9.200000
Uruguay                    61  10.0   120.0  26.737705

In [10]:
#3
df_group = df_winemag.groupby(['designation', 'points']).agg(
    {
     'price': ['mean', 'min', 'max']
    }
    # ordenando por points descendentemente y price ascendentemente
).sort_values(by=[('price', 'mean')], ascending=[True])

df_group.head(5)

                   price
                    mean  min  max
designation points
Flirty Bird 85       4.0  4.0  4.0
Crianza     81       5.0  5.0  5.0
Gato Negro  83       5.0  5.0  5.0
Twin Valley 85       5.0  5.0  5.0
Escolha     83       5.0  5.0  5.0

In [11]:
#4
df_reporte = df_winemag.groupby(['taster_name', 'taster_twitter_handle']).agg(
    {
     'price': ['mean', 'min', 'max']
    }
    # ordenando por points descendentemente y price ascendentemente
).sort_values(by=[('price', 'mean')], ascending=[True])

df_reporte.head(5)

                                             price
                                              mean  min    max
taster_name       taster_twitter_handle
Susan Kostrzewa   @suskostrzewa          21.752122  7.0  175.0
Jeff Jenssen      @worldwineguys         22.807692  6.0  320.0
Michael Schachner @wineschach            24.889426  4.0  770.0
Lauren Buzzeo     @laurbuzz              25.033493  5.0  330.0
Jim Gordon        @gordone_cellars       26.688517  4.0  185.0

In [12]:
#Exportar a CSV
# Exportar reporte 1
df_winemag[condicion].to_csv('reporte1.csv', index=False)

# Exportar reporte 2
df_winemag.groupby(['country']).price.agg([len, 'min', 'max', 'mean']).to_csv('reporte2.csv', index=False)

# Exportar reporte 3
df_group.to_csv('reporte3.csv', index=False)

# Exportar reporte 4
df_reporte.to_csv('reporte4.csv', index=False)

In [15]:
#Exportar a Excel
# Reporte 1
df_winemag.sort_values(by=['price', 'country']).to_excel('reporte1.xlsx', index=False)

# Reporte 2
df_winemag.groupby(['country']).price.agg([len, 'min', 'max', 'mean']).to_excel('reporte2.xlsx', index=False)

# Aplanar MultiIndex para el Reporte 3
df_group.columns = ['_'.join(col).strip() for col in df_group.columns.values]
df_group.to_excel('reporte3.xlsx', index=False)

# Aplanar MultiIndex para el Reporte 4
df_reporte.columns = ['_'.join(col).strip() for col in df_reporte.columns.values]
df_reporte.to_excel('reporte4.xlsx', index=False)

In [16]:
#Exportar a SQL LITE

import sqlite3

# Conectar a la base de datos (o crearla si no existe)
conn = sqlite3.connect('reportes.db')

# Exportar reporte 1 a SQLite
df_winemag[condicion].to_sql('reporte1', conn, if_exists='replace', index=False)

# Exportar reporte 2 a SQLite
df_winemag.groupby(['country']).price.agg([len, 'min', 'max', 'mean']).to_sql('reporte2', conn, if_exists='replace', index=False)

# Exportar reporte 3 a SQLite
df_group.to_sql('reporte3', conn, if_exists='replace', index=False)

# Exportar reporte 4 a SQLite
df_reporte.to_sql('reporte4', conn, if_exists='replace', index=False)

# Cerrar la conexión
conn.close()

In [23]:
#Exportar a MONGO DB

!pip install pymongo

import pandas as pd
from pymongo import MongoClient

# Conectar a MongoDB Atlas
client = MongoClient("mongodb+srv://alebr180302:Alejandra123@cluster0.kh8td.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

# Seleccionar la base de datos y la colección
db = client['python_pc5']  # Nombre de la base de datos

# Exportar reporte 1 a MongoDB
condicion = (df_winemag.price >= 2) & (df_winemag.country == "Portugal")
db.reporte1.insert_many(df_winemag[condicion].to_dict('records'))

# Exportar reporte 2 a MongoDB
df2 = df_winemag.groupby(['country']).price.agg([len, 'min', 'max', 'mean'])
df2 = df2.reset_index().rename(columns={'len': 'count'})
# Convertir a un diccionario con formato adecuado
db.reporte2.insert_one(df2.to_dict('records')[0])  # Inserta solo el primer documento

# Exportar reporte 3 a MongoDB
df_group = df_winemag.groupby(['designation', 'points']).agg({
    'price': ['mean', 'min', 'max']
}).sort_values(by=[('price', 'mean')], ascending=[True])

# Aplanar MultiIndex
df_group.columns = ['_'.join(col).strip() for col in df_group.columns.values]
db.reporte3.insert_many(df_group.reset_index().to_dict('records'))

# Exportar reporte 4 a MongoDB
df_reporte = df_winemag.groupby(['taster_name', 'taster_twitter_handle']).agg({
    'price': ['mean', 'min', 'max']
}).sort_values(by=[('price', 'mean')], ascending=[True])

# Aplanar MultiIndex
df_reporte.columns = ['_'.join(col).strip() for col in df_reporte.columns.values]
db.reporte4.insert_many(df_reporte.reset_index().to_dict('records'))

print("Todos los reportes han sido exportados a MongoDB.")

Requirement already satisfied: pymongo in /usr/local/python/3.12.1/lib/python3.12/site-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pymongo) (2.7.0)
Todos los reportes han sido exportados a MongoDB.

In [24]:
import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
from email.mime.application import MIMEApplication

In [26]:
# Configuración del servidor y credenciales
import os 

smtp_server = 'smtp.gmail.com'  # Cambia esto al servidor SMTP que estés utilizando
smtp_port = 587  # Cambia esto al puerto adecuado
sender_email = 'alebr180302@gmail.com'
sender_password = open('token.txt').read().strip() #os.environ['gmail_pass'] #

# Detalles del correo electrónico
receiver_email = 'gonzalo.delgado.r@uni.pe'
subject = 'Re-envio Reporte EJERCICIO 2'
body = 'Adjunto lo solicitado'

# Crear el objeto MIMEMultipart
msg = MIMEMultipart()
msg['From'] = sender_email
msg['To'] = receiver_email
msg['Subject'] = subject
msg.attach(MIMEText(body, 'plain'))


# Adjuntar archivo
file_path = '/workspaces/PythonPC1/PC5/reporte2.csv'  # Cambia la ruta al archivo que quieras adjuntar
with open(file_path, 'rb') as file:
    attachment = MIMEApplication(file.read(), _subtype="csv")
    attachment.add_header('Content-Disposition', 'attachment', filename=file_path)
    msg.attach(attachment)
    
# Iniciar la conexión con el servidor SMTP
with smtplib.SMTP(smtp_server, smtp_port) as server:
    server.starttls()  # Iniciar el modo seguro
    server.login(sender_email, sender_password)
    server.sendmail(sender_email, receiver_email, msg.as_string())

print('Correo enviado exitosamente')

Correo enviado exitosamente

In [27]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /home/codespace/.local/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [33]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

# Ruta a la imagen (ajustada para la carpeta CLASE PYTHON en el escritorio)
image_path = r'C:\\Users\\EDGARDO\\Desktop\\CLASE_PYTHON\\image.png'

try:
    # Cargar la imagen
    img = mpimg.imread(image_path)

    # Mostrar la imagen
    plt.imshow(img)
    plt.axis('off')  # No mostrar los ejes
    plt.show()

except FileNotFoundError:
    print(f"No se encontró el archivo en la ruta: {image_path}")

No se encontró el archivo en la ruta: C:\\Users\\EDGARDO\\Desktop\\CLASE_PYTHON\\image.png